<div class="container">
  <form class="form-horizontal" (ngSubmit)="onSubmit(sampleForm)" #sampleForm="ngForm">
    <div class="form-group">
      <label for="first_name" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" ngModel #first_name="ngModel" name="first_name" class="form-control" id="first_name" placeholder="e.g. Eric">
      </div>
    </div>
     <div class="form-group">
      <label for="last_name" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" ngModel #last_name="ngModel" name="last_name" class="form-control" id="last_name" placeholder="e.g. Schwartz">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit Form</button>
      </div>
    </div>
  </form>
</div>